<div class="row justify-content-center mt-5 pt-5">
  <div class="col-4">

    <ul class="nav nav-pills nav-justified mb-3" id="ex1" role="tablist">
      <li class="nav-item" role="presentation">
        <%= link_to "Login", new_user_session_path, class: "nav-link" %>
      </li>
      <li class="nav-item" role="presentation">
        <%= link_to "Register", new_user_registration_path, class: "nav-link active" %>
      </li>
    </ul>

  <div class="tab-content">
    <div class="tab-pane fade show active"
      id="pills-login"
      role="tabpanel"
      aria-labelledby="tab-login">

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="form-outline mb-4">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", class: "form-control" %>
        </div>

        <div class="form-outline mb-4">
          <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: "Full Name", class: "form-control" %>
        </div>

        <div class="form-outline mb-4">
          <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password (6 characters minimum)", class: "form-control" %>
        </div>

        <div class="form-outline mb-4">
          <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Password Confirmation", class: "form-control" %>
        </div>

        <div class="actions">
          <%= f.submit "Register", class: "btn btn-primary btn-block mb-4" %>
        </div>
      <% end %>

