<div class="container mt-4 mb-4">
  <div class="row justify-content-md-center">
    <div class="col-md-12 col-lg-8">
      <h1 class="h2 mb-4">Leave a Reply</h1>

<%= form_for([@post, @post.comments.build], :html => {class: "form-horizontal", role: "form"}) do |f| %>
        <% if @post.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(post.errors.count, "error") %> prohibited this comment from being saved:</h2>

            <ul>
            <% post.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
        <div class="form-group">
          <%= f.text_area :body, id: "comment_body", class: "form-control", required: true %>
        </div>
        <%= f.hidden_field :post_id %>
        <%= f.hidden_field :user_id %>

        <%= f.submit "Publish", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>